*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
  
}
header{
    /* border: 2px solid rgb(27, 27, 27); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    
}

header .nav-link ul{
    padding: 10px;
    display: flex;
}
header .nav-link ul li{
    padding: 25px;
    list-style: none;
    font-size: 20px;
}



header .nav-link ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}

header .nav-link ul li a:hover{
    color: #bdbcbc;
}

.icon-header{
    position: relative;
}

.icon-header .icon-count{
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 25px;
    
    background-color: #000000;
    color: #fff;
    border-radius:11px;
    font-size: 14px;
}
.icon-header i{
    font-weight: bold;
    font-size: 25px ;
}

.publicite img{
    width: 100%;
    height: 25rem;
}



.store{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    padding-inline: 15rem;
    margin-top: 3rem;
}

.titre{
    text-align: center;
    margin-top: 30px;
    font-size: 3rem;
    font-weight: bold;
}

.store .card{
    border: 3px solid #000000;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 0.2rem 2rem 2rem 2rem;
}
.store .card img{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    /* border: 2px solid red; */
}


.store .card .menu-card button{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
}


.about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.about .about-group{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    
}
.about .about-group img{
    width: 20rem;
    height: 24rem;
}

.about .about-group p{
    width: 25rem;
    /* margin-top:5px; */
    margin-left: 5rem;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.contact{
    display: flex;
    flex-direction: column;
    margin-inline: 19rem;

}
.contact-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;
    
}

.contact-group form{
    margin-top: 10px;
}

.contact-group form label{
    margin: 10px;
    font-weight: bold;
}
.contact-group form input{
    height: 35px;
    width: 15rem;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    padding-left: 5px;
    margin: 10px;
}

.contact-group form textarea{
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    padding-left: 5px;
    margin: 10px;
}

.contact-group form button{
    width: 80px;
    height: 30px;
    margin-left: 0.6rem;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
}




.footer-global{
    display: flex;
    justify-content: space-between;
    border:2px solid black;
    padding: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

footer h3{
    font-weight: bold;
    font-size: 23px;
}
footer img{
    margin-top: -25px;
}

footer .link-footer ul{
    list-style: none;
}

footer .link-footer ul li{
    padding-top: 5px;
}
footer .link-footer ul a{
    text-decoration: none;
    color: black;
    
}

footer .social-media i{
    font-size: 25px;
    padding:10px;
}

footer .social-media .icon{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 13rem;
}

footer .social-media .icon img{
    margin: 2px 0 0 5PX;
}


footer .footer-foot{
    text-align: center;
}

footer .footer-foot{
    color: #fff;
    background-color: #000;
}