@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
    scroll-behavior: smooth;
}
*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
  
}
header{
    /* border: 2px solid rgb(27, 27, 27); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: #fff;
    position: sticky;
    z-index: 999;
    top:0;
    
}

header ul{
    padding: 10px;
    display: flex;
}
header ul li{
    padding: 25px;
    list-style: none;
    font-size: 20px;
}



header ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: "Inter";
    
}

header ul li a:hover{
    color: #565656;
}

.icon-header{
    position: relative;
    
}

.icon-header .icon-count{
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 28px;
    background-color: #000000;
    color: #fff;
    border-radius:11px;
    font-size: 14px;
}
.icon-header i{
    font-weight: bold;
    font-size: 25px ;
}

.publicite img{
    width: 100%;
    height: 25rem;
}


.store{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    padding-inline: 15rem;
    margin-top: 3rem;
}

.titre{
    text-align: center;
    margin-top: 30px;
    font-size: 3rem;
    font-weight: bold;
}

.store .card{
    border: 3px solid #000000;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 0.2rem 2rem 2rem 2rem;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition:transform 0.3s;
    font-family:"poppins";
    
}
.store .card:hover{
    transform: scale(1.05);
}
.store .card img{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    /* border: 2px solid red; */
    transition: transform 0.5s;
}

.store .card img:hover{
    transform: scale(1.1);
}


.store .card .menu-card button{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Anek Gujarati";
    font-weight: 500;
    
}

.store .card .menu-card button:hover{
    background-color: #676666;
}


.about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.about .about-group{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    
}
.about .about-group img{
    width: 20rem;
    height: 24rem;
}

.about .about-group p{
    width: 25rem;
    /* margin-top:5px; */
    margin-left: 5rem;
    font-size: 40px;
    text-align: center;
    font-weight:100;
    padding: 20px;
    font-family: "Inria Sans";
   
}


.contact{
    display: flex;
    flex-direction: column;
    /* margin-inline: 19rem; */

}
.contact-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    
}

.contact-group form{
    margin-top: 10px;
    margin-left: 30px;
}

.contact-group form label{
    margin: 10px;
    font-weight: bold;
}
.contact-group form input{
    height: 35px;
    width: 15rem;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    padding-left: 5px;
    margin: 10px;
}

.contact-group form textarea{
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    padding-left: 5px;
    margin: 10px;
}

.contact-group form button{
    width: 80px;
    height: 30px;
    margin-left: 0.6rem;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
}




.footer-global{
    display: flex;
    justify-content: space-between;
    border:2px solid black;
    padding: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

footer h3{
    font-weight: bold;
    font-size: 23px;
}
footer img{
    margin-top: -25px;
}

footer .link-footer ul{
    list-style: none;
}

footer .link-footer ul li{
    padding-top: 5px;
}
footer .link-footer ul a{
    text-decoration: none;
    color: black;
    
}

footer .social-media i{
    font-size: 25px;
    padding:10px;
}

footer .social-media .icon{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 13rem;
}

footer .social-media .icon img{
    margin: 2px 0 0 5PX;
}


footer .footer-foot{
    text-align: center;
}

footer .footer-foot{
    color: #fff;
    background-color: #000;
}

i{
    cursor: pointer;
}



.icon-header i{
    font-size: 30px;
}

.icon-header #icon-menu{
    font-size: 35px;
    display: none;
}

@media screen and (max-width: 1496px) {
  .store {
    padding-inline: 2rem;
    justify-content: center;
  }

  .about .about-group{
    justify-content: center;
    
  }  
  .about .about-group p{
    
    width: 50%;
    font-size:40px;
  }
}


@media(max-width:994px){
    header{
        padding: 0 70px;
        line-height: 90px;
    }
    header ul{
        position: fixed;
        background: transparent;
        
        top: 98px;
        width: 15%;
        right:-100%;
        display: block;
        line-height: 10px;
        text-align: center;
        transition: all .5s;

    }

    .publicite img{
        height: 15rem;
    }
    .icon-header .icon-count{
        top:28px;
        right:60px;
    }
    
    .icon-header #icon-menu{
        display: block;
    }

    .icon-header{
        display: flex;
    
    }

    header .show{
        right: 0;
    }
}

@media(max-width:580px){
    header{
        padding: 0 30px;
    }
}